<html>
  <head>
    <style type="text/css">
      html, body {
        font-family: Georgia;
        background-color: #232424;
        font-size: 16px;
        line-height: 1.4; /* Magic number is 21px */
        color: #d7d6d6;
      }
      * { margin: 0; padding: 0; }
      h1, h2 {
        font-family: Garamond;
        color: #f5f4f4;
        color: #e3e3e2;
        margin-bottom: 21px;

        font-size: 2.4rem;
        line-height: 1.17;
      }
      h2 {
        font-size: 2.0rem;
        line-height: 1.17;
      }
      p, pre {
        font-size: 1.0rem;
        line-height: 1.4;
        margin-bottom: 21px;
        text-align: justify;
      }
      .revision {
        margin-bottom: 21px;
      }
      hr {
        height: 0;
        border-bottom: 0.5px solid #c3c3c2;
        margin: 21px 0;
      }
      section[role=main] {
        width: 726px;
        margin: 42px auto 42px;
        padding: 0 21px 0;
      }
      @media only screen and (max-width: 768px) {
        section[role=main] {
          width: auto;
        }
      }
      a {
        color: #92D0E8;
      }
      a:visited {
        color: #83C4DE;
      }
      a:active {
        color: #DE8383;
      }
    </style>
  </head>
  <body>
    <section role="main">
      <header>
        <h1>Builds from the Ember repo</h1>
      <hr />
        <p>Use these recent builds of Ember to see if your bug is still present on master. We suggest <a href="http://jsfiddle.net/">jsfiddle</a> to check for a bug.</p>
      </header>


      <div class="revision">
        <h2>3d2f2d32d</h2>
        <p>Built at 2013-02-15 12:16:20 EST</p>
        <ul>
          <li><a href="#">ember.js</a></li>
          <li><a href="#">handlebars.js</a></li>
          <li><a href="#">ember-runtime.js</a></li>
        </ul>
      </div>

      <div class="revision">
        <h2>1db1d11b1</h2>
        <p>Built at 2013-02-15 12:12:20 EST</p>
        <ul>
          <li><a href="#">ember.js</a></li>
          <li><a href="#">handlebars.js</a></li>
          <li><a href="#">ember-runtime.js</a></li>
        </ul>
      </div>

      <hr />

      <footer>
        <p>Built for your testing pleasure by <a href="http://twitter.com/bantic">@bantic</a> and <a href="http://twitter.com/mixonic">@mixonic</a>.</p>
      </footer>
    </section>
  </body>
</html>
